---
Language: C
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
AlignConsecutiveAssignments:
    Enabled: true
BreakBeforeBinaryOperators: None
AlignConsecutiveMacros:
    Enabled: true
SpaceAfterCStyleCast: false
---

